<p-toast></p-toast>

<app-login *ngIf="!isLogged" ($login)="login($event)"></app-login>

<div class="container">
    <div *ngIf="isLogged" class="col-12 flex justify-content-end">
        <p-button label="Sair" (click)="isLogged = false"></p-button>
    </div>

    <p-tabView *ngIf="isLogged">
        <p-tabPanel header="Alunos">
            <app-alunos></app-alunos>
        </p-tabPanel>
        <p-tabPanel header="Escolas">
            <app-escolas></app-escolas>
        </p-tabPanel>
    </p-tabView>
</div>